In [ ]:
"""
 Author: [Ambe Revelation Langsi]
 Studentnumber: [2262920]
"""

In [1]:
import pandas as pd
import csv

In [2]:


def read_csv(file_path):
    """
    Reads a CSV file and returns the data as a list of lists.
    
    Args:
    file_path (str): The path to the CSV file to read.
    
    Returns:
    List[List[str]]: A list of lists, where each inner list represents a row in the CSV file.
    """
    with open(file_path, 'r') as csvfile:
        csvreader = csv.reader(csvfile)
        data = [row for row in csvreader]
        df = pd.DataFrame(data, columns=['segmentNr', 'Position', 'A', 'C', 'G', 'T'])
        return df

In [ ]:
df1 = read_csv(r'C:\Users\langsi\Desktop\files\DNA_1_5.csv')
df1

In [ ]:
df2=read_csv(r'C:\Users\langsi\Desktop\files\DNA_2_5.csv')
df3=read_csv(r'C:\Users\langsi\Desktop\files\DNA_3_3.csv')
df4=read_csv(r'C:\Users\langsi\Desktop\files\DNA_4_5.csv')
df5=read_csv(r'C:\Users\langsi\Desktop\files\DNA_5_5.csv')

df2

In [ ]:
df3

In [ ]:
df4

In [ ]:
df5

In [ ]:
df1=df1.drop_duplicates()
df1

In [ ]:
df2=df2.drop_duplicates()
df2

In [7]:
df2['segmentNr'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13'], dtype=object)

In [11]:


def remove_duplicates(df):
    # Group by segmentNr and Position and keep the first row of each group
    df = df.drop_duplicates(subset=['segmentNr', 'Position'])
    return df
def remove_missing_positions(df):
    #Group by segmentNr and find the maximum Position for each group
    max_positions = df.groupby('segmentNr')['Position'].max().reset_index()

    #Filter out segments where not all positions from 1 to m exist
    valid_segments = max_positions[max_positions['Position']
                                   == df['Position'].max()]['segmentNr'].unique()
    df = df[df['segmentNr'].isin(valid_segments)]
    return df


def clean_data(df):
    #Remove duplicates within segments
    df = remove_duplicates(df)

    #Remove missing positions within segments
    df = remove_missing_positions(df)

    #Remove wrong positions
    #df = remove_wrong_positions(df)

    # Remove duplicate segments
    #df = remove_duplicate_segments(df)

    return df

In [17]:
df1=remove_duplicates(df1)
df1

   segmentNr Position  A  C  G  T
7          2        1  0  1  0  0
8          2        2  0  0  0  1
9          2        3  1  0  0  0
10         2        4  1  0  0  0
11         2        5  0  0  0  1
12         2        6  0  0  0  1
13         2        7  1  0  0  0
14         2        8  0  1  0  0
15         2        9  0  0  0  1
16         2       10  0  1  0  0
17         2       11  1  0  0  0
18         2       12  0  1  0  0
19         2       13  0  0  0  1
20         2       14  0  0  1  0
21         2       15  0  0  1  0
49         7        1  0  0  0  1
50         7        2  0  1  0  0
51         7        3  1  0  0  0
52         7        4  0  1  0  0
53         7        5  0  0  0  1
54         7        6  0  0  1  0
55         7        7  0  0  1  0
56         7        8  0  1  0  0
57         7        9  0  0  0  1
58         7       10  1  0  0  0
59         7       11  1  0  0  0
60         8        1  0  1  0  0
61         8        2  1  0  0  0
62         8        3  0  1  0  0
63         8        4  0  0  0  1
64         8        5  1  0  0  0
65         8        6  0  1  0  0
66         8        7  0  0  1  0
67         8        8  0  1  0  0
68         8        9  1  0  0  0
69         8       10  0  1  0  0
70         8       11  0  0  0  1
71         8       12  0  0  1  0

   segmentNr Position  A  C  G  T
8          2        1  0  1  0  0
9          2        2  0  0  0  1
10         2        3  1  0  0  0
11         2        4  1  0  0  0
12         2        5  0  0  0  1
13         2        6  0  0  0  1
14         2        7  1  0  0  0
15         2        8  0  1  0  0
16         2        9  0  0  0  1
17         2       10  0  1  0  0
18         2       11  1  0  0  0
19         2       12  0  1  0  0
20         2       13  0  0  0  1
21         2       14  0  0  1  0
22         2       15  0  0  1  0
50         7        1  0  0  0  1
51         7        2  0  1  0  0
52         7        3  1  0  0  0
53         7        4  0  1  0  0
54         7        5  0  0  0  1
55         7        6  0  0  1  0
56         7        7  0  0  1  0
57         7        8  0  1  0  0
58         7        9  0  0  0  1
59         7       10  1  0  0  0
60         7       11  1  0  0  0
61         8        1  0  1  0  0
62         8        2  1  0  0  0
63         8        3  0  1  0  0
64         8        4  0  0  0  1
65         8        5  1  0  0  0
66         8        6  0  1  0  0
67         8        7  0  0  1  0
68         8        8  0  1  0  0
69         8        9  1  0  0  0
70         8       10  0  1  0  0
71         8       11  0  0  0  1
72         8       12  0  0  1  0

In [51]:
df3=clean_data(df3)
df3

   segmentNr Position  A  C  G  T
0          1        1  0  0  1  0
3          1        4  0  0  0  1
13         4        2  1  0  0  1

In [52]:
df4=clean_data(df4)
df4

   segmentNr Position  A  C  G  T
0          1        1  0  1  0  0
1          1        2  0  0  0  1
2          1        3  1  0  0  0
13         1       14  0  0  1  0

In [53]:
df5=clean_data(df5)
df5

  segmentNr Position  A  C  G  T
5         2        1  0  1  0  0
6         2        2  0  0  0  1
7         2        3  0  0  1  0
8         2        4  1  0  0  0